---
layout: default
---

<div class="home">

  <h1 >JavaScript</h1>
  <h2 >List of the topics</h2>    

{% for page in site.pages %}
  {% if page.categories contains 'javascrit_topic' %}
    <div class="item">
        <a href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>
    </div>
  {% endif %}
{% endfor %}    

    <br/>
    <br/>
    
    
    <h2>Useful links</h2>
    <a target="_blank" href="http://www.youtube.com/playlist?list=PL62E185BB8577B63D">Douglas Crockford Lectures on JavaScript on Youtube</a>
    <br/>
    <a target="_blank" href="http://www.w3schools.com/js/default.asp">W3Schools JavaScript Tutorial</a>
    <br/>
    
</div>
