---
layout: default
---

<div class="home">

  <h1 >JavaScript</h1>
    
  <h2 >Problems grouped by complexity </h2>    
    <div class="item">
        <a href="/javascript/topic-complexity-low.html">Problems with low (1-3) complexity</a>&nbsp;
        <a href="/javascript/problem/drill-complexity-low.html">Drill</a>
    </div>
    <div class="item">
        <a href="/javascript/topic-complexity-average.html">Problems with average (4-7) complexity</a>
    </div>
    <div class="item">
        <a href="/javascript/topic-complexity-high.html">Problems with high (8-10) complexity</a>
    </div>    
    <br/>

    
    <h2 >Problems grouped by importance </h2>    
    <div class="item">
        <a href="/javascript/topic-importance-high.html">Problems with high (8-10) importance</a>
    </div>    
    <div class="item">
        <a href="/javascript/topic-importance-average.html">Problems with average (4-7) importance</a>
    </div>
    <div class="item">
        <a href="/javascript/topic-importance-low.html">Problems with low (1-3) importance</a>
    </div>
    <br/>

    <h2 >Problems grouped by date adding on site</h2>    
    <div class="item">
        <a href="/javascript/topic-2016-01.html">Problems added in January 2016 (in progress)</a>
    </div>    
    <div class="item">
        <a href="/javascript/topic-2015-12.html">Problems added in December 2015 (33 problems) </a>
    </div>    
    
    <br/>
    
    
  <h2 >Topics grouped by subject</h2>    

{% for page in site.pages %}
  {% if page.categories contains 'javascrit_topic' %}
    <div class="item">
        <a href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>
    </div>
  {% endif %}
{% endfor %}    

    <br/>
    <br/>
    
    
    <h2>Useful links</h2>
    <a target="_blank" href="http://www.youtube.com/playlist?list=PL62E185BB8577B63D">Douglas Crockford Lectures on JavaScript on Youtube</a>
    <br/>
    <a target="_blank" href="http://www.w3schools.com/js/default.asp">W3Schools JavaScript Tutorial</a>
    <br/>
    
</div>
