---
layout: default
title: "Problems with high (8-10) importance " 
categories: javascrit_importance 
permalink: /javascript/topic-importance-high.html
---

<div class="home">
 <h1 class="topic-heading">JavaScript high (8-10) importance </h1>

{% assign sorted_pages = site.pages | sort: 'importance' %}
{% for page in sorted_pages reversed %}
  {% if page.categories contains 'javascript' and page.importance > 7 %}
    <div class="item">
        <a class="topic-problem-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>
        <p class="topic-problem-complexity">complexity: <b>{{page.complexity}}</b> ;  importance: <b>{{page.importance}}</b>; author: <b>{{page.author}}</b>  </p>
        <p>{{page.header}}</p>
        <hr/>
    </div>
  {% endif %}
{% endfor %}    
    
    
</div>