---
layout: topic
title: "Problems with average (4-7) importance  " 
categories: javascrit_importance 
permalink: /javascript/topic-importance-average.html
---

<div class="home">
 <h1 class="topic-heading">JavaScript average (4-7) importance </h1>

{% assign sorted_pages = site.pages | sort: 'importance' %}
{% for page in sorted_pages reversed %}
  {% if page.categories contains 'javascript' and page.importance > 3 and page.importance < 8 %}
    <div class="item">
        <a class="topic-problem-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>
        <p class="topic-problem-complexity"  id="mark_problem_p_{{ page.url | prepend: site.baseurl }}">complexity: <b>{{page.complexity}}</b> ;  importance: <b>{{page.importance}}</b>; author: <b>{{page.author}}</b>  
            <script> addMarkingButton("{{ page.url | prepend: site.baseurl }}"); </script>
        </p>
        <p>{{page.header}}</p>
        <hr/>
    </div>
  {% endif %}
{% endfor %}    
    
    
</div>