---
layout: default
title: "Problems with high (8-10) complexity " 
categories: javascrit_complexity 
permalink: /javascript/topic-complexity-high.html
---

<div class="home">
 <h1 class="page-heading">JavaScript high (8-10) complexity </h1>

{% for page in site.pages %}
  {% if page.categories contains 'javascript' and page.complexity > 7  | sort: 'complexity', 'importance'  %}
    <div class="item">
        <a class="post-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>
        <p>complexity: <b>{{page.complexity}}</b> ;  importance: <b>{{page.importance}}</b>; author: <b>{{page.author}}</b>  </p>
        <p>{{page.header}}</p>
        <hr/>
    </div>
  {% endif %}
{% endfor %}    
    
    
</div>