---
layout: default
title: "Variables related problems " 
categories: javascrit_topic 
permalink: /javascript/variables-topic.html
---

<div class="home">
 <h1 class="topic-heading">JavasScript variables</h1>

{% assign sorted_pages = site.pages | sort: 'importance/complexity' %}
{% for page in sorted_pages reversed %}
  {% if page.categories contains 'javascript' and page.categories contains 'variables'%}
    <div class="item">
        <a class="topic-problem-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>
        <p class="topic-problem-complexity">complexity: <b>{{page.complexity}}</b> ;  importance: <b>{{page.importance}}</b>; author: <b>{{page.author}}</b>  </p>
        <p>{{page.header}}</p>
        <hr/>
    </div>
  {% endif %}
{% endfor %}    
    
    
</div>