<!DOCTYPE html>
<!-- layout for first page Web Storage drilling by external JSON URL  -->
<html>

  {% include head.html %}

<style>
.start-drill-button{
    background-color: green; 
    margin: 3px; 
    font-size: 20px; 
    font-weight: normal    
}
</style>

<body>
    
{% include header.html %}    
<script>
var problemUrls = [];
var showCurrentProblem_automaticaly=false; // if JSON comes from external URL page has to wait
var initialUrlCount=problemUrls.length; // initial number of problems to drill
var currentUrlNom=0; // index of current Url in problemUrls array problemUrls    

</script>
      
    <div class="page-content">
      <div class="wrapper">
        {{ content }}
      </div>
    </div>




<script>
if (showCurrentProblem_automaticaly) {
    showCurrentProblem();
}
</script>

    
  </body>

</html>



    