<!DOCTYPE html>
<!--  topic layout:
   topic is list of the problems grouped by some criteria     
-->
<html>

  {% include head.html %}

  <body>
<script type="text/javascript" src="/vertices/vertex.js"></script>      
  
<script>
function addMarkingButton(probUrl){
    var preffId="mark_problem_p_"; // unique p id is "mark_problem_p_"+probUrl
    var isMarked=isProblemMarked(probUrl);    
    var markButton = document.createElement("input");
    markButton.value=isMarked? "Un-Mark": "Mark";
    markButton.setAttribute('id',"mark_button_"+probUrl);
    markButton.setAttribute('type',"button");
    markButton.setAttribute('class',"drill-button");                   
    markButton.setAttribute('onclick',"doMarkingButtinClick('"+probUrl+"','mark_button_"+probUrl+"')");
    document.getElementById(preffId+probUrl).appendChild(markButton);    
}


          
function doMarkingButtinClick(probUrl,buttonId){
    var button= document.getElementById(buttonId);
    if (button.value == "Mark") {
      markProblem(probUrl);
      button.value = "Un-Mark";
          
    } else {
      unMarkProblem(probUrl);
      button.value = "Mark";
    }
}

    
function addTagingButton(probUrl){
    var preffId="mark_problem_p_"; // unique p id is "mark_problem_p_"+probUrl
    var isTagged=isProblemTagged(probUrl);    
    var tagButton = document.createElement("input");
    tagButton.value=isTagged? "Un-Tag": "Tag";
    tagButton.setAttribute('id',"tag_button_"+probUrl);
    tagButton.setAttribute('type',"button");
    tagButton.setAttribute('class',"drill-button");                   
    tagButton.setAttribute('onclick',"doTagingButtinClick('"+probUrl+"','tag_button_"+probUrl+"')");
    document.getElementById(preffId+probUrl).appendChild(tagButton);    
}


          
function doTagingButtinClick(probUrl,buttonId){
    var button= document.getElementById(buttonId);
    if (button.value == "Tag") {
      tagProblem(probUrl);
      button.value = "Un-Tag";
          
    } else {
      unTagProblem(probUrl);
      button.value = "Tag";
    }
}
    
</script>    
      

    {% include header.html %}

    <div class="page-content">
      <div class="wrapper">
        {{ content }}
      </div>
    </div>

    {% include footer.html %}
    <script>document.getElementById("topic-hierarchies").innerHTML= buildHierarchiesForProblem( ["javascript"], "{{page.categories}}");</script>    

  </body>

</html>
